/* Style for Edit Button */
.edit-btn {
    background-color: #ffc107;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    margin-left: 10px;
    transition: background-color 0.3s;
  }
  
  .edit-btn:hover {
    background-color: #e0a800;
  }
  